# Supabase client config
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# RevenueCat public SDK keys only
# Do not put sk_* secret keys here
EXPO_PUBLIC_RC_ANDROID_KEY=
EXPO_PUBLIC_RC_IOS_KEY=

# AdMob
EXPO_PUBLIC_ADMOB_APP_ID_ANDROID=ca-app-pub-3485168250647378~1198686158
EXPO_PUBLIC_ADMOB_APP_ID_IOS=
EXPO_PUBLIC_ADMOB_BANNER_ANDROID=ca-app-pub-3485168250647378/6442959343
EXPO_PUBLIC_ADMOB_BANNER_IOS=
